@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap");
body {
  font-family: "Nanum Myeongjo", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
}
