.main__introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.main__intro-container-img,
.main__intro-container {
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin: 0 20px;
}
.main__intro-image {
  widht: 100%;
  height: 100%;
  object-fit: cover;
}
