@import "reset.css";
@import "components/header.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
}
