@import "/reset.css";
@import "/common.css";
@import "/css/components/header.css";
@import "/slider.css";
@import "/intro.css";
@import "/css/components/product-list.css";
@import "/css/components/footer.css";
[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}
