@import "../reset.css";
@import "../common.css";
@import "../components/header.css";
@import "../components/footer.css";
.login-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 0 700px;
  padding-top: 100px;
}
.login__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.login__text {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 7px;
}
.login__form {
  display: flex;
  flex-direction: column;
}
.login__btn {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  border: none;
  margin: 5px 0;
}
.login__btn-kakao {
  margin-top: 50px;
  background-color: #fee500;
  color: black;
  margin-bottom: 30px;
}
.login__btn-naver {
  background-color: #1dc800;
}
.login__text-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.login__label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.login__input {
  border: none;
  border-bottom: 1px solid rgb(165, 161, 161);
}
